.body-dashboard {
  background-color: #f7f7f5;
}

.card-dashboard {
  height: 345px;
  padding: 20px;
  border-radius: 20px;
  background-color: white;
  justify-content: space-between;
  box-shadow: 0px 4px 14px 0px #00000014;
}

.next-mission {
  width: 100%;
  height: 43px;
  top: 55px;
  border-radius: 8px;
  padding: 12px;
  background-color: #FFF8EC;
  color: #745013
}

.card-profil {
  height: 345px;
  border-radius: 8px;
  padding: 40px 20px;
  background-color: #022147;
  box-shadow: 0px 4px 14px 0px #00000014;
  h4 {
    color: white;
  }
}

.small-card-level {
  height: 83px;
  border-radius: 8px;
  padding: 32px 12px;
  background-color: #ECFFEC;
  color: #137423;
  text-align: center;
}

.card-next-level {
  object-fit: contain;
}

.mentor_bubbles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  justify-content: center;
}

.div-avatar {
  position: relative;
}

.avatar-status {
  position: absolute;
  right: -2px;
  width: 19px;
  top: 0px;
}

.avatar-status2 {
  position: absolute;
  right: -2px;
  width: 22px;
  top: 0px;
}

.avatar-status3 {
  position: absolute;
  right: -2px;
  width: 19px;
  top: 0px;
}

.fake-button-dashboard {
  background-color: #EAF3FE;
  height: 51px;
  left: 0px;
  top: 0px;
  border-radius: 8px;
  padding: 16px;
  color: #022147 !important;
  text-align: center;
}

.stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 65px;
  gap: 1em;
}

.nav-tabs {
  border: none;
}

.nav-tabs .nav-link.active {
  color: #022147;
  background-color: transparent;
  border-color: transparent;
  opacity: 1;
}

.nav-tabs .nav-link {
  color: #022147;
  opacity: 0.5;
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
  border-color: transparent;
}

.nav-link:hover, .nav-link:focus {
  color: #022147;
}

.nav-card-mission {
  background-color: white;
  margin: 15px 0px;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0px 4px 14px 0px #00000014;
  width: 100%;
}

.li-dashboard {
  margin-right: 30px !important;
}


.li-status {
  margin-left: auto;
}

.start-tag {
  padding: 5px;
  background-color: #e8eaff;
  border-radius: 4px;
  padding: 9px;
  color: #022147;
}

.on-going-tag {
  padding: 5px;
  background-color: #ffffe8;
  border-radius: 4px;
  padding: 9px;
  color: #745013;
}

.finish-tag {
  padding: 5px;
  background-color: #e2ffd7;
  border-radius: 4px;
  padding: 9px;
  color: #47902b;
}

.progress-bar {
  width: 25%;
  height: 28px;
  background: rgb(15,20,27);
  background: linear-gradient(90deg, rgba(15,20,27,1) 0%, rgba(16,102,168,1) 100%);
  font-size: 17px;
  font-weight: bold;
}

.form-rating {
  display: flex;
  justify-content: flex-end;
}

.small-card-level {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.small-card-level-title {
  position: absolute;
  top: -18px;
  left: 0;
  opacity: 0.5;
  font-size: 12px;
}

.small-card-level h6 {
  margin: 0px;
}

.small-card-level .full-text {
  margin: -8px;
}

.small-rating {
  font-size: 14px;
  font-weight: 600;
  opacity: 0.7;
}

.padawan-info {
  color: white !important;
  opacity: 0.7;
  font-size: 13px;
}
