<ol class="notifications-list lu" style="list-style-type: none; padding: initial; margin-left: 10px">
  <% @notifications.each do |notification| %>
    <li class="notification_design"><%= notification.title %></li>
  <% end %>
</ol>
