<ol class="notifications-list lu" style="list-style-type: none; padding: initial; margin-left: 10px">
  <% @notifications.each do |notification| %>
    <li class="notification-design">
      <div class="d-flex justify-content-between p-2 <%= " grey-text" if notification.read %>">
        <%= link_to notification.title, mark_as_seen_notification_path(notification), method: :patch %>
        <% if notification.read  %>
          <i class="fas fa-check grey-text"></i>
        <% end %>
      </div>
    </li>
  <% end %>
</ol>
