<% if notice %>
  <div data-controller="flash" data-flash-text-value="<%= notice %>" data-flash-type-value="<%= params[:icon] ? params[:icon] : 'success'%>"></div>
<% end %>
<% if alert %>
  <div data-controller="flash" data-flash-text-value="<%= alert %>" data-flash-type-value="<%= params[:icon] ? params[:icon] : 'info'%>"></div>
<% end %>
