<% if mentor.email = "py@test.com" %>
  <h5 class="mt-3"><strong>Digital Project Manager</strong></h5>
  <p class="m-0"><strong>Key People SA Freelance</strong></p>
  <p><small>2 years et 8 months</small></p>
  <hr>
  <h5><strong>Teacher</strong></h5>
  <p class="m-0"><strong>Le Wagon Freelance</strong></p>
  <p><small>3 years 10 months</small></p>
  <hr>
  <h5><strong>Co-Founder</strong></h5>
  <p class="m-0"><strong>Novexpat</strong></p>
  <p><small>4 years and 2 months</small></p>
<% elsif mentor.email = "maurel@test.com" %>
  <h5 class="mt-3"><strong>Digital Project Manager</strong></h5>
  <p class="m-0"><strong>Key People SA Freelance</strong></p>
  <p><small>2 ans et 8 mois</small></p>
  <hr>
  <h5><strong>Teacher</strong></h5>
  <p class="m-0"><strong>Le Wagon Freelance</strong></p>
  <p><small>3 ans 10 mois</small></p>
  <hr>
  <h5><strong>Random job</strong></h5>
  <p class="m-0"><strong>Random company</strong></p>
  <p><small>Random duration</small></p>
<% else %>
  <h5 class="mt-3"><strong>Digital Project Manager</strong></h5>
  <p class="m-0"><strong>Key People SA Freelance</strong></p>
  <p><small>2 ans et 8 mois</small></p>
  <hr>
  <h5><strong>Teacher</strong></h5>
  <p class="m-0"><strong>Le Wagon Freelance</strong></p>
  <p><small>3 ans 10 mois</small></p>
  <hr>
  <h5><strong>Random job</strong></h5>
  <p class="m-0"><strong>Random company</strong></p>
  <p><small>Random duration</small></p>
<% end %>
