<h1>List of all mentors</h1>
<div class="mentors">
  <div class="filter">
    <% User::SKILLS .each do |skill| %>
      <button> <%= skill %></button>
    <% end %>
  </div>
  <div class="mentors">
    <ul>
      <% @mentors.each do |mentor| %>
      <li>
        <%= link_to "#{mentor.first_name} #{mentor.last_name}", mentor_path(mentor) %>
      </li>
      <% end %>
    </ul>
  </div>
</div>
