<h1>List of all mentors</h1>
<div class="mentors" data-controller="filter" data-filter-url-value=<%= mentors_path %>>
  <div class="filter">
    <% User::SKILLS .each do |skill| %>
      <button data-action= 'click->filter#refresh'> <%= skill %></button>
    <% end %>
  </div>
  <%= render "shared/mentors", mentors: @mentors  %>
</div>
