.footer {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0px 50px;
  color: #022147;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: #fea93a;
  opacity: 1;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 0.5;
}
.footer .fa-heart {
  color: #fea93a;
}
// xxx
