.patch {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 25px;
  // background-color: #fea93a;
  // color: white;
  // width: 70%;
  // height: 80px;
  // border-radius: 8px;
  // box-shadow: 0 1.5em 2.5em -.5em rgba(#000000, .5);
}

.patch h2 {
  font-family: "Work-sans";
  color: #022147;
  text-shadow: 1px 1px 3px rgb(164, 164, 164);
  font-size: 55px;
}

.patch_2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  height: 400px;
  background-color: #EBF3FD;
}

.hr-home {
  height: 3px !important;
  border-radius: 8px;
  color: #fea93a;
  opacity: 1;
  width: 35%;
}
