
.mentor-show-card-infos {
  background-color:  #ebf3fd;
  margin: 30px;
  h1 {
    color: #022147;
    font-size: 40px;
    font-weight: bold;
    margin: 0px;
  }
  p {
    margin-top: 10px;
    color: #022147;
  }
}


.mentor-show-card {
  background-color: #ebf3fd;
  box-shadow: 0px 4px 14px 0px #00000014 !important;
  color: #022147;
  height: 400px;
}

.mentor-show-card-skills {
  background-color: white;
  box-shadow: 0px 4px 14px 0px #00000014 !important;
  border-radius: 15px;
}

.mentor-show-card-mission {
  background-color: white;
  box-shadow: 0px 4px 14px 0px #00000014 !important;
  border-radius: 15px;
  position: relative;
}

.finished {
background-color: black;
filter: alpha(opacity = 50); /* IE */
opacity: 0.2; /* Safari, Opera */
z-index: 1;
background-repeat: no - repeat;
background-position: center;
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
border-radius: 15px;
}

.finished-tag {
  background-color: #E8FFEA;
  border-radius: 10px;
  z-index: 2;
}

.mentor-show-card-experiences {
  background-color: white;
  box-shadow: 0px 4px 14px 0px #00000014 !important;
  border-radius: 15px;
}

 .title {
   background-color: #EAF3FE;
   border-radius: 15px 15px 0 0;
   padding: 10px 10px 10px 30px;
   h4 {
     color: #001D48;
   }
  }
 .title-blank {
   padding: 10px 10px 10px 30px;
   h4 {
     color: #001D48;
   }
  }

.btn-outline-secondary {
  border-radius: 8px;
}

.btn-yellow-mentor {
  color: #022147;
  background-color: #fea93a;
  padding: 8px 24px;
  height: 100%;
  width: 135px;
  border-radius: 8px;
  font-weight: bold;
  transition: opacity 0.3s ease;
  &:hover {
    background-color: #ffd8a5;
  }
}

.btn-blue-mentor {
  color: #022147;
  background-color: #ebf3fd;
  border-color:#022147;
  padding: 8px 24px;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  font-weight: lighter;
  transition: opacity 0.3s ease;
  &:hover {
    background-color: #022147;
    color: white
  }
}

.img_attributes-mentor {
  color:#022147;
  font-size: 20px;
}

.mission-text {
  background-color: #022147;
  color: white;
  box-shadow: 0px 4px 14px 0px #00000014 !important;
  width: 50%;
  height: 50px;
  border-radius: 8px;
  position: relative;
  top: 18px;
  padding-top: 8px;
}
