.mentor-show-card-infos {
  flex-grow: 1;
  p {
    max-width: 450px;
  }
  li {
    font-size: 24px;
  }
}

.mentor-show-card-actions {
  width: 250px;
  p, button {
    font-size: 24px;
  }
}

#apply_motivation {
  height: 250px;
}
