.messages {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.message-holder {
  position: relative;
}
.avatar-message {
  width: 40px;
  border-radius: 50%;
}

.msg-left {
  align-self: flex-start;
}

.msg-right {
  align-self: flex-end;
}

.message-content {
  max-width: 450px;
}

.msg-yellow {
 background-color: #FEA93A;
 border-radius: 5px 10px;
 padding: 10px;
}

.msg-grey {
 background-color: lightgrey;
 border-radius: 10px 5px;
 padding: 10px;
}
