.navbar-lewagon {
  justify-content: space-between;
  background: rgb(2, 35, 71);
  color:white;
}

.home .navbar-lewagon{
  background: none;
  background-color: transparent !important;
  position: fixed;
  width: 100%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}
// xxx
